<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="com.goalachiveacademy">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
      android:name=".MainApplication"
      android:label="@string/app_name"
      android:icon="@drawable/src_appassets_splash2"
      android:roundIcon="@drawable/src_appassets_splash2"
      android:allowBackup="false"
      android:theme="@style/AppTheme">
      <meta-data
      android:name="com.google.android.geo.API_KEY"
      android:value="AIzaSyDRb_7ogw24bZCC3OuV4BV0GkzDu83oRuA"/>

        <meta-data android:name="com.google.android.safetynet.ATTEST_API_KEY"
            android:value="AIzaSyBFw5vkO9uvfqvltF0q7pgc-3fh6WJU-Ds"/>
      <activity
        android:name=".MainActivity"
        android:label="@string/app_name"
        android:configChanges="keyboard|keyboardHidden|orientation|screenSize|uiMode"
        android:launchMode="singleTask"
        android:windowSoftInputMode="adjustResize">
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />
            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
      </activity>
      <activity android:name="com.facebook.react.devsupport.DevSettingsActivity" />
    </application>

</manifest>
